#find-all{
	width: 100%;
}
.find-all-header{
	height: 0.64rem;
	display: table;
	text-align: center;
	padding: 0 0.6rem 0 0.3rem;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e2e1e1;
}
.find-all-header span{
	width: 0.3rem;
	height: 0.3rem;
	display: table-cell;
}
.find-all-header h3{
	width: 3rem;
	font:bold 0.2rem "仿宋";
	color: #a8a8a8;
	display: table-cell;
	line-height: 0.64rem;
}
.icon_left{
	background: url(../../images/icon_left.jpg) no-repeat center;
	background-size: 100%;
}
.find-all-main{
	width: 100%;
	background-color: #f5f8fa;
}
.find-all-main li{
	width: 26%;
	height: 1.36rem;
	border:1px solid #e2e1e1;
	border-radius:0.1rem;
	text-align: center;
	margin: 0.33rem 0 0 0.22rem;
	float: left;
}
.find-all-main li div{
	border-radius: 0.1rem 0.1rem 0 0;
	display: inline-block;
	width: 100%;
	padding-bottom: 100%;
	background-size: 100%;
}
.find-all-main li p{
	font:bold 0.14rem "微软雅黑";
}